[Unit]
Description=omxplayer scene 1
After=syslog.target network.target multi-user.target 
# nodm.service
# Requires=nodm.service

[Service]
Type=simple
# ExecStart=/usr/bin/x0vncserver -display %i -rfbport 5900 -securitytypes none
ExecStart=/usr/bin/omxplayer --no-keys --no-osd --loop -g /var/log/omxplayer/player1.log --display 5 --layer 1 /opt/vlcsigner/video1.mp4
Restart=always
RestartSec=3


[Install]
WantedBy=multi-user.target