[Desktop Entry]
Type=Application
Name=VLC Player
Comment=Launch VLC for signer
NoDisplay=false
Exec=/usr/bin/vlcsigner --run
NotShowIn=GNOME;KDE;XFCE;

# link to /etc/xdg/autostart
# ln -s /etc/xdg/autostart/vlcsigner.desktop /opt/vlcsigner/vlcsigner.desktop